form {
    width: 640px;
    height: 500px;
    
}

input[type="number-two"], input[type="text"], input[type="text-one"], input[type="text-two"], input[type="number"], input[type="number-one"] {
    width: 500px;
    height: 47px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
    margin-left: 3em;
    margin-top: 1.5em;
}

#btn {
    padding: 10px;
    width:120px;
    background-color: blanchedalmond;
    cursor: pointer;
    margin-left: 15em;
    font-weight: bold;
    color: black;
}

#btn:focus {
    border: none;
    outline: none;
}

header{
    background-image:url(../images/Medical-physician-doctor-hands.png);
    background-repeat: no-repeat;
}

#id_doctor {
    width: 78%;
    margin-left: 3.4em;
    height: 2.7em;
}

[name="doctor"] {
    width: 78%;
    margin-left: 3.4em;
    height: 2.7em;
  }