{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DirectoryAds &mdash; Colorlib Website Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'medical/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'medical/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'medical/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/rangeslider.css' %}">
  <link rel="stylesheet" href="{% static 'medical/css/style.css' %}">
</head>
<body>
<div id="back-1">
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar container py-0 " role="banner">
      <div class="row align-items-center">
        <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
          <a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
        </div>
      </div>
    </header>
    <div class="site-blocks-cover overlay" style="background-image: url(images/729_486_5a3a67b3d801d.jpg);"
      data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-12">
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1 class="" data-aos="fade-up">Welcome To DirectoryAds</h1>
                <p data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
            </div>
            <div class="form-search-wrap mb-3" data-aos="fade-up" data-aos-delay="200">
              <form method="post">
                <div class="row align-items-center">
                  <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                  </div>
                  <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <div class="select-wrap">
                      <img class="img" src="../../static/medical/images/down-arrow.png">
                      <select class="form-control rounded bas" name="" id="cnt">
                      {% for cat in category %}
                        <option value="{% url 'doctor' id=cat.id %}">{{ cat.category_name }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>
                  <a class="link" href="#" id="btn-one">Link</a>
                </div>                
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
  <script src="{% static 'medical/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery-ui.js' %}"></script>
  <script src="{% static 'medical/js/popper.min.js' %}"></script>
  <script src="{% static 'medical/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'medical/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'medical/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'medical/js/aos.js' %}"></script>
  <script src="{% static 'medical/js/rangeslider.min.js' %}"></script>
  <script src="{% static 'medical/js/main.js' %}"></script>
</body>
</html>