{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DirectoryAds &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'medical/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'medical/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/rangeslider.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/index_2ciseyfe.css' %}">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
  <style>
    #btn {
      width: 100%;
      border-bottom-left-radius: 31.8px;
      border-bottom-right-radius: 31.8px;
    }

    #btn:focus {
      border:none;
      outline: none;
    }
  </style>
  <div id="qwerty" class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <div style="background: url('/static/medical/images/find-a-doc-group.jpg'); background-repeat: no-repeat;background-size: cover;" class="site-blocks-cover inner-page-cover overlay" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1 class="basliq-1">Hekimlerin Siyahisi</h1>
                <p class="mb-0">...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="cnt-1 container-fluid">
        <hr>
          <div class="row">
    {% for doc in doctor %}  

            <div class="col-md-3">
                  <a href="{% url 'appointment' doc.id %}">
                    <img style="width:100%;"  src={{doc.picture.url}}>
                  </a>
                  <div class="txt-1">
                    <p id="demo">{{ doc.name}} {{ doc.surname}} 
                    {{ doc.age}} {{ doc.carrier}}                    
                  </p>
                <button id="btn">Haqqinda</button>
                </div>
          </div>
          {% endfor %}

        </div>
    
    </div>
        </div>   
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="foot">
                </div>
              </div>
            </div>
          </div>
        </footer>
<script>
    $( "#btn" ).click(function() {
        $(this).siblings('p').slideToggle();
      })

    $( "#btn-1" ).click(function() {
        $(this).siblings('p').slideToggle( "slow" );
      })
    $("#btn-2").click(function(){
      $(this).siblings('p').slideToggle("slow")
    })
    $("#btn-3").click(function(){
      $(this).siblings('p').slideToggle("slow")
    })
    
</script>
  <script src="{% static 'medical/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery-ui.js' %}"></script>
  <script src="{% static 'medical/js/popper.min.js' %}"></script>
  <script src="{% static 'medical/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'medical/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'medical/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'medical/js/aos.js' %}"></script>
  <script src="{% static 'medical/js/rangeslider.min.js' %}"></script>
  <script src="{% static 'medical/js/main.js' %}"></script>
  </body>
</html>