<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Medical App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'medical/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'medical/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/rangeslider.css' %}">
    <link rel="stylesheet" href="{% static 'medical/css/style.css' %}">
  </head>
  <body>
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar container py-0 " role="banner">
        <div class="row align-items-center">
          <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
          </div>
        </div>
    </header>
    <div id="background" class="site-blocks-cover overlay">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-12">
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1 class="" data-aos="fade-up">WELCOME</h1>
                <p data-aos="fade-up" data-aos-delay="100">...</p>
              </div>
            </div>
            <div class="form-search-wrap mb-3" data-aos="fade-up" data-aos-delay="200">
                <a class="lnk" href="#">Link</a>
                {% csrf_token %}
                <div class="row align-items-center">
                  <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <div class="select-wrap">
                      <select class="form-control rounded" name="" id="xest">
                      <img class="img" src="../../static/medical/images/down-arrow.png">
                      {% for med in medicals %}
                        <option value="{% url 'category' id=med.id %}" >{{med.medical_name}}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>                     
  <script src="{% static 'medical/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery-ui.js' %}"></script>
  <script src="{% static 'medical/js/popper.min.js' %}"></script>
  <script src="{% static 'medical/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'medical/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'medical/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'medical/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'medical/js/aos.js' %}"></script>
  <script src="{% static 'medical/js/rangeslider.min.js' %}"></script>
  <script src="{% static 'medical/js/main.js' %}"></script>
  </body>
</html>