{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>DirectoryAds &mdash; Colorlib Website Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'directoryads/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/rangeslider.css' %}">
  <link rel="stylesheet" href="{% static 'directoryads/css/add.css' %}">
</head>
<body>
  <style>
    #id_doctor {
      width: 78%;
      margin-left: 3.4em;
      height: 2em;
    }

    #id_timeslot {
      margin-left: 3.3em;
      width: 78%;
      height: 2em;
      margin-top: 0.5em;
    }

    #id_name {
      height: 2em;
      margin-top: 0.8em;
    }

    #id_surname {
      height: 2em;
      margin-top: 1em;
    }

    #id_age {
      height: 2em;
      margin-top: 1em;
    }

    #id_comment {
      height: 2em;
      margin-top: 1em;
    }

    #id_date {
    margin-left: 3em;
    margin-top: 1em;
    width: 78%;
    height: 35px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    }

    #id_contact_number {
      height: 2em;
      margin-top: 1em;
    }

      
    
  </style>
  <header>
    <div id="back" class="container-fluid">
      <form>
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %} placeholder="utuyt"
      {{ hidden_field.errors }}
      {{ hidden_field }}
      {% endfor %}

      
        <div class="dws-input">
        {% for field in form.visible_fields %}
         <p>
          {{ field }}
         {{ field.errors }}
         </p>
        {% endfor %}
          {% comment %} <input type="text" name="username" placeholder="Adinizi daxil edin...">
          <input style="width: 78%; margin-left: 3.4em; height: 3em;" id="date" type="date" name="rezerv"
            placeholder="Rezerv gununu qeyd edin...">
          <input type="text-one" name="surname" placeholder="Soyadinizi daxil edin...">
          <input type="number" name="age" placeholder="Yasinizi daxil edin...">
          <input type="number-one" name="number" placeholder="Nomrenizi daxil edin...">
          <input type="text-two" name="email" placeholder="Email daxil edin..."> {% endcomment %}
          <button id="btn" type="submit">Gonder</button>
        </div>
      </form>
    </div>
  </header>
  <script src="{% static 'directoryads/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'directoryads/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'directoryads/js/jquery-ui.js' %}"></script>
  <script src="{% static 'directoryads/js/popper.min.js' %}"></script>
  <script src="{% static 'directoryads/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'directoryads/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'directoryads/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'directoryads/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'directoryads/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'directoryads/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'directoryads/js/aos.js' %}"></script>
  <script src="{% static 'directoryads/js/rangeslider.min.js' %}"></script>
  <script src="{% static 'directoryads/js/main.js' %}"></script>
  
  
  <script>
    $("#btn").click(function (ev) {
      ev.preventDefault()
      alert('Melumat Gonderildi Rezerv elediyiniz Hekime. Siznen Elaqe Saxliyacaglar.');
    })
  </script>
</body>
</html>